
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Easy Notes</h1>
    <p><a>Simple online organizer with <b>free-to-use</b> licence.</a>.</p>
    @if(@User.Identity.IsAuthenticated)
    {
        <h4>Hello @User.Identity.Name </h4>
        
    }
</div>